@import "tailwindcss";

:root {
  --background: #faf9f9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --button-color: #ffd6ba;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #89b0ae;
    --foreground: #faf9f9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*
CSS HEX
--raisin-black: #28262cff;
--tropical-indigo: #998fc7ff;
--periwinkle: #d4c2fcff;
--magnolia: #f9f5ffff;
--resolution-blue: #14248aff;
--eerie-black: #1c2321ff;
--cadet-gray: #7d98a1ff;
--paynes-gray: #5e6572ff;
--powder-blue: #a9b4c2ff;
--antiflash-white: #eef1efff;
--paynes-gray: #555b6eff;
--cambridge-blue: #89b0aeff;
--mint-green: #bee3dbff;
--seasalt: #faf9f9ff;
--apricot: #ffd6baff;
*/ 